html {
  background-color: black;
}

body {
  min-height: 300px;
  max-width: 400px;
  background-color: black;
  border: solid orange;
  margin: 100px auto;
  color: white;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  margin-top: 50px;
}
label {
  position: relative;
  text-align: center;
  margin: auto;
  margin: 10px 10px 10px 10px;
}

input {
  position: relative;
  text-align: center;
  margin: auto;
  margin: auto;
}

button {
  position: relative;
  text-align: center;
  margin: auto;
}
