header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logoutArea {
  display: flex;
}
body {
  background-color: black;
  color: white;
  font-weight: bold;
}
.left-box {
  border: solid rgb(253 153 38);
  height: 80vh;
}
.chathub {
  height: 7rem;
  width: 7rem;
}

.room-template button {
  width: 40%;
  border-radius: 15px;
}
.room-design {
  background-color: rgb(253 153 38);
  width: 100%;
  height: 100%;
  border-radius: 10px;
  color: black;
  padding: 5px;
}
.room-header {
  display: flex;
  justify-content: space-between;
  background-color: chocolate;
}
.fa-lock {
  font-size: 1.5rem;
}
.cate-css {
  background-color: rgb(253 153 38);
  padding: 1.5rem;
  color: black;
  border-radius: 20%;
}
.hideroom {
  display: none;
}

.edit {
  margin: 5rem;
}

/* CSS */
.functionBtn {
  appearance: none;
  background-color: transparent;
  border: 2px solid rgb(253 153 38);
  border-radius: 15px;
  box-sizing: border-box;
  color: rgb(253 153 38);
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.functionBtn:disabled {
  pointer-events: none;
}

.functionBtn:hover {
  color: #fff;
  background-color: chocolate;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.functionBtn:active {
  box-shadow: none;
  transform: translateY(0);
}

.button-92 {
  --c: #fff;
  /* text color */
  background: linear-gradient(90deg, #0000 33%, #fff5, #0000 67%)
      var(--_p, 100%) / 300% no-repeat,
    chocolate;
  /* background color */
  color: #0000;
  border: none;
  transform: perspective(500px) rotateY(calc(20deg * var(--_i, -1)));
  text-shadow: calc(var(--_i, -1) * 0.08em) -0.01em 0 var(--c),
    calc(var(--_i, -1) * -0.08em) 0.01em 2px #0004;
  outline-offset: 0.1em;
  transition: 0.3s;
}

.button-92:hover,
.button-92:focus-visible {
  --_p: 0%;
  --_i: 1;
}

.button-92:active {
  text-shadow: none;
  color: var(--c);
  box-shadow: inset 0 0 9e9Q #0005;
  transition: 0s;
}

.button-92 {
  font-weight: bold;
  font-size: 2rem;
  margin: 0;
  cursor: pointer;
  padding: 0.1em 0.3em;
}

/* CSS */
.functionBtn {
  appearance: none;
  background-color: transparent;
  border: 2px solid rgb(253 153 38);
  border-radius: 15px;
  box-sizing: border-box;
  color: rgb(253 153 38);
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.functionBtn:disabled {
  pointer-events: none;
}

.functionBtn:hover {
  color: #fff;
  background-color: chocolate;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.functionBtn:active {
  box-shadow: none;
  transform: translateY(0);
}

.button-92 {
  --c: #fff;
  /* text color */
  background: linear-gradient(90deg, #0000 33%, #fff5, #0000 67%)
      var(--_p, 100%) / 300% no-repeat,
    chocolate;
  /* background color */
  color: #0000;
  border: none;
  transform: perspective(500px) rotateY(calc(20deg * var(--_i, -1)));
  text-shadow: calc(var(--_i, -1) * 0.08em) -0.01em 0 var(--c),
    calc(var(--_i, -1) * -0.08em) 0.01em 2px #0004;
  outline-offset: 0.1em;
  transition: 0.3s;
}

.button-92:hover,
.button-92:focus-visible {
  --_p: 0%;
  --_i: 1;
}

.button-92:active {
  text-shadow: none;
  color: var(--c);
  box-shadow: inset 0 0 9e9Q #0005;
  transition: 0s;
}

.button-92 {
  font-weight: bold;
  font-size: 2rem;
  margin: 0;
  cursor: pointer;
  padding: 0.1em 0.3em;
}

.col-md-10 {
  overflow: scroll;
}
